<app-navigation title='CONTACT'></app-navigation>
<div class='body-container'>
    <mat-card>
        <h2>MY CONTACT PAGE</h2>
        <mat-list>
            <mat-list-item>
                <mat-icon>email</mat-icon><p> Email: reynaldo.ellasojr@evsu.edu.ph</p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon>hub</mat-icon><p> Github:https://github.com/ReynaldoEllasoJr</p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon>facebook</mat-icon><p> Facebook: https://facebook.com/reynaldo.ellaso.71</p>
            </mat-list-item>
           
        </mat-list>
    </mat-card>
</div>